body {
    background-image: url(images/خلفية\ ميكاب2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.content {
    padding: 230px 400px 350px;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span {
    background-color: rgba(255, 255, 255, 0.618);
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.618);
}

button {
    background-color: white;
    color: rgb(22, 27, 27);
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin-top: 50px;
    background-color: rgb(234 9 175 / 93%);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(234 9 175 / 93%);
    font-size: 20px;
}

button:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.08);
    background-color: rgb(195, 6, 97);

}